<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>演唱會資訊整理</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
<div class="cover-container">
    <div class="search-wrapper">
        <div class="search-container">
            <label for="city">城市</label>
            <select id="city">
                <option value="city_empty">未選擇</option>
                <option value="taipei">台北</option>
                <option value="new_taipei">新北</option>
                <option value="kaohsiung">高雄</option>
                <option value="others">輸入其他城市</option>
            </select>
            <input type="text" id="custom-city" placeholder="請輸入城市" style="display: none; width: 4em;">
            <label for="start-date">Start</label>
            <input type="date" id="start-date">
            <label for="end-date">End</label>
            <input type="date" id="end-date">
            <button class="city_date_button">搜尋</button>
        </div>
        <div class="search-container"><input type="text" class="search-input" id="search-input"
                                             placeholder="請輸入關鍵字...">
            <div class="search-icon-container">
                <img src="../public/images/search-icon1.png" alt="搜尋" id="search-icon">
            </div>
        </div>
    </div>
</div>
<!--<div id="header-placeholder"></div>-->
<div class="content-section">
    <div class="latest-info">
        <h1>最新資訊</h1>
    </div>
    <!--    容器，用來放置動態生成的 box 元素。-->
    <div class="grid-container" id="grid-container">
    </div>
    <div class="button-container">
        <button class="more-button">查看更多</button>
    </div>
</div>
<div class="content-section">
    <div class="sell-info">
        <h1>近期售票資訊</h1>
    </div>
    <div class="grid-container" id="sdt-container">
    </div>
    <script src="../public/js/index.js"></script>
</div>
</body>
</html>